html {
scroll-behavior: smooth;
} 
body{
	background: #303030;
}

h1{
    color: #fff;
    font-family: sans-serif;
}
h2 {
	color: #fff;
	font-family: BlinkMacSystemFont,Arial;

}
p{
	color: #fff;
	font-family: -apple-system,BlinkMacSystemFont,Arial;
	line-height: 1.5;
}

a {
	color: #987FAE;
	text-decoration: none;
}

.toper{

}

.links{
	margin-left: 8%;
}

.text {
	margin: 10%;
	margin-top: 0%;
}

@media screen and (device-width = 720px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 35px;
	}
	p {
		font-size: 30px;
	}
}

